html{
  margin:0
}

h1{
  color:white;
  text-align:center;
}

.container{
  margin: 100px auto 100px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 40%;
  border-radius: 10px;
}

#form{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.form-group{
  display: flex;
  background-color: white;
  padding:8px;
  border-radius: 10px;
}

input{
  outline: none;
  background: transparent;
  border:none;
  padding: 4px;
  width: 100%;

}

button{
  width: max-content;
  border-radius: 10px;
  border: solid skyblue 1px;
  background-color: aqua;
  font-weight: bold;
  padding: 8px;
  font-size: 1.2rem;
}

#result{
  color:white;
  font-weight:bold;
  font-size: 1.2rem;
}